@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    ViewData["Title"] = "Accounts Index Page";
}

<div>
    <div id="accountsGrid"></div>
</div>
<div id="popup"></div>

<script src="~/KendoUI/Models/Accounts.js"></script>
