@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    ViewData["Title"] = "Venues Index Page";
}

<div>
    <div id="venuesGrid"></div>
</div>
<div id="popup"></div>

<script src="~/KendoUI/Models/Venues.js"></script>
