<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title | FVenue</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/FAVICON.png" />
    <link rel="stylesheet" href="~/Custom/LoginPage.css" asp-append-version="true" />
</head>
<body>
    @RenderBody()
</body>
</html>
