@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    ViewData["Title"] = "Categories Index Page";
}

<div>
    <div id="categoriesGrid"></div>
</div>
<div id="popup"></div>

<script src="~/KendoUI/Models/Categories.js"></script>
