@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    ViewData["Title"] = "Schedules Index Page";
}

<div class="row">
    <div id="map" class="col-md-6" style="min-width: 250px;"></div>
    <div id="schedulesGrid" class="col-md-6"></div>
</div>
<div id="mapPopup"></div>
<div id="popup"></div>

<script src="~/KendoUI/Models/Schedules.js"></script>
